.square {
    width: 50px;
    height: 50px; 
    border-color: rgb(14, 238, 14);
    border-width: 1px;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.unselected {
    background-color: #020f03;
}

.selected {
    pointer-events: none;
    background-color: rgb(48, 248, 48);
}

.hit {
    pointer-events: none;
    background-color: red;
}

@media  screen and (max-width: 1200px) {
    .square {
        width: 30px;
        height: 30px;   
    }
}

